body {
    font-family: '黑体','微软雅黑','Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.50;
    background-color: #eeeeee;
    color: #705F57;
    font-weight: bold;
}
p {
    margin: 0;
}
.no-padding {padding:0!important;}
a {
    color: #55acee;
    text-decoration: none;
}
a:hover {
    color: #339BEB;
    text-decoration: none;
}
a:focus, a:active {
    outline: none;
    text-decoration: none;
}

h2 {
    margin: 30px 0;
}
h2 small {
    font-size: 16px;
}
ul li {
    list-style: none;
    display: block;
}

.table-responsive {
    border: 0;
}

.btn-commom {
    color: #fff;
    background-color: #705F57;
    padding: 10px 30px;
    border: 0;
}
.btn-commom:hover,
.btn-commom:focus,
.btn-commom.focus,
.btn-commom:active,
.btn-commom.active,
.open > .dropdown-toggle.btn-commom {
    color: #fff;
    background-color: #54453e;
    border: 0;
}
.btn-commom:active,
.btn-commom.active,
.open > .dropdown-toggle.btn-commom {
    background-image: none;
}
.btn-commom.disabled,
.btn-commom[disabled],
fieldset[disabled] .btn-commom,
.btn-commom.disabled:hover,
.btn-commom[disabled]:hover,
fieldset[disabled] .btn-commom:hover,
.btn-commom.disabled:focus,
.btn-commom[disabled]:focus,
fieldset[disabled] .btn-commom:focus,
.btn-commom.disabled.focus,
.btn-commom[disabled].focus,
fieldset[disabled] .btn-commom.focus,
.btn-commom.disabled:active,
.btn-commom[disabled]:active,
fieldset[disabled] .btn-commom:active,
.btn-commom.disabled.active,
.btn-commom[disabled].active,
fieldset[disabled] .btn-commom.active {
    background-color: #7b6b62;
    border: 0;
}
.btn-commom .badge {
    color: #705F57;
    background-color: #fff;
}

.nav-tabs {
    font-size: 16px;
    border-bottom: 1px solid #c8c1b9;
    margin-right: 3px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    overflow: hidden;
    cursor: pointer;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-bottom: 1px solid #c8c1b9;
    border-radius: 4px 4px 0 0;
    background: #ffffff;
    padding: 15px 20px;
}
@media (max-width:320px) {
    .nav-tabs > li > a {
        padding: 10px;
    }
}
.nav-tabs > li > a:hover {
    border-color: #e5e1dc #e5e1dc #c8c1b9 #d6d2cf;
    background: #ffffff;
    cursor: pointer;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #705F57;
    background-color: #fff;
    border: 1px solid #c8c1b9;
    border-bottom-color: transparent;
    cursor: pointer;
}



/* index */
/* header */
.logo {
    float: left;
    margin: 10px 10px 10px 0;
}
.site-name {
    float: right;
    font-size: 14px;
    margin: 40px 0 10px 10px;
}
@media (max-width:414px) {
    .logo img {
        height: 60px;
    }
    .site-name {
        margin: 30px 0 10px 10px;
    }
    .swiper-slide {
        height: 200px;
    }
}
@media (max-width:336px) {
    .logo {
        margin: 10px 10px 0 0;
    }
    .site-name {
        margin: 0 0 10px 10px;
    }
}
.site-name a {
    color: #5a4b45;
}
.site-slogan {
    font-size: 12px;
}
/* nav */
.main-navigation .navbar-default {
    background-color: #705f57;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
}
.main-navigation .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
    background-color: #5a4b45;
    color: #ffffff;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
    background-color: #5a4b45;
    color: #ffffff;
}
@media (min-width:768px) and (max-width:991px) {
    .main-navigation .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        float: left !important;
    }
}
@media (max-width:767px) {
    .header.navbar-fixed-top {
        position: absolute;
    }
}
.has-feedback{
    cursor: pointer;
}
.has-feedback .form-control-feedback {
    background: #b0988f;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer !important;
    color: #ffffff;
}
/* banner */
.swiper-slide {
    height: 320px;
    background: url('../../img/banner.jpg'); -webkit-background-size: cover;background-size: cover;
}
/* home */
.tabs {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    font-size: 16px;
}
.tabs li {
    float: left;
    padding: 0;

}
.tabs li a {
    display: block;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background: #f9faf8;
    margin-right: 2px;
    color: #5a4b45;
    border-bottom: 4px #f9faf8 solid;
}
.tabs li a:hover,.tabs li a.active {
    color: #55acee;
    border-bottom: 4px #54968f solid;
}
.thumbnail_more {
    line-height: 250px;
    font-size: 20px;
}
.news {
    background: #ffffff;
}
.media {
    margin: 20px 0;
}
.media-body {
    margin-top: 10px;
    padding-right: 0;
}

/* spots */
.panel-default {
    border: 0 !important;
}
 .well{
    position: relative;
    border: none;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 40px 15px 10px 15px;
    -webkit-box-shadow:none;
}
 .ticket_title{
    width: 100px;
    height: 40px;
    text-indent: 7px;
    line-height: 40px;
    background: url("../../img/title_bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:-30px;
    color: #fff;
    left: -10px;
    font-size: 16px;
}


.ticket_pic{
    height: 270px;
    overflow: hidden;
}
.ticket_pic .thumbnail{
    border: 0;
    padding: 0;
}
.ticket_pic .col-md-4{
    margin-left: -25px
}
.ticket_pic .col-md-8 {
    padding-left: 0;
}
.ticket_pic .col-md-8 img{
    width: 420px;
    height: 275px
}
.ticket_pic .col-md-4 {
    padding-right: 0;
}
.ticket_pic .col-md-4 img{
    width: 210px;
    height: 136px
}
.ticket_pic .col-md-8 .thumbnail,.ticket_pic .col-md-4 .thumbnail{
    margin-bottom:5px;
}
@media (max-width:767px) {
    .ticket_pic .col-md-8 {
        padding-right: 0;
    }
}
@media (max-width:414px) {
    .ticket_pic{
        height: 200px;
        overflow: hidden;
    }
    .ticket_pic .col-md-8 {
        padding-right: 0;
    }
    .ticket_pic .col-md-8 img{
        height: 200px;
    }
}
@media (max-width:320px) {
    .ticket_pic{
        height: 170px;
        overflow: hidden;
    }
    .ticket_pic .col-md-8 {
        padding-right: 0;
    }
    .ticket_pic .col-md-8 img{
        height: 170px;
    }
}
.spotName {
    margin-top: 10px;
    font-size: 20px;
}
.order_btn{
    width: 100%;
    margin: 0 0 30px 0;
}
.spotScore * {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
}
.spotScore span {
    color: #f6af00;
    width: 30px;
    text-align: center;
    line-height: 16px;
}


/* spot_details */
.spot_details .spotImg a img {
    height: 275px;
    margin: 0 auto;
}
@media (max-width:414px) {
    .spot_details .spotImg a img {
        height: 200px;
    }
    .spot_details .col-sm-6 {
        padding: 0;
    }
}
@media (max-width:320px) {
    .spot_details .spotImg a img {
        height: 170px;
    }
    .spot_details .col-sm-6 {
        padding: 0;
    }
}
.spot_details .voice {
    float: left;
    color: #705F57;
    margin-bottom: 10px;
}
.spot_details .voicePlay {
    float: right;
    background: #705F57;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.spot_details .box-body,.hotel_details .box-body {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #c8c1b9;
    border-top: 0;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    display: none;
}
.spot_details .box-body p,.hotel_details .box-body p {
    text-indent: 30px;
}
.spot_details .box-body img,.hotel_details .box-body img {
    margin: 10px auto;
}

#newsList .media:first-child {
    margin-top: 20px;
}


.spotHeader {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}
.spotLayout {
    width: 550px;
}
.Scored {
    color: #f6af00;
    width: 130px;
    float: left;
    margin-top: 20px;
}
.Scored p {
    font-size: 24px;
}

.Scored .spotScore img {
    margin: 0;
}

.spotPgs {
    width: 220px;
    float: left;
    margin: 0 20px;
}
.spotPgs .progress {
    height: 16px;
    width: 140px;
    margin: 0 5px;
    float: left;
    border-radius: 1px;
    box-shadow: none;
}
.spotPgs .progress .progress-bar {
    box-shadow: none;
}
.spotPgs .spotPgsrow span {
    float: left;
}

.spotJudge p {
    float: left;
    font-size: 16px;
    height: 26px;
    line-height: 27px;
}
.spotJudge p span {
    color: #f0ad4e;
}
.visitorJudge {
    width: 100%;
    margin: 20px 0;
}
.visitorInfo {
    text-align: center;
}
.visitorInfo,.VJudgeDetail {
    float: left;
    margin-left: 20px;
}
.visitorJudge .visitorInfo {
    width: 80px;
}
.visitorJudge .visitorInfo img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0;
}
.visitorJudge .VJudgeDetail {
    border: 2px solid #705f57;
    width: 78%;
    border-radius: 3px;
    padding: 10px;
}
.visitorJudge .spotScore img {
    margin: 0;
}
.visitorJudge .spotScore span {
    width: 100px;
    color: #705f57;
}
.VJudgeDetail>* {
    margin-bottom: 10px;
}

.yourJudge {
    border-top: 1px #DBCBBF solid;
    width: 100%;
    padding: 20px;
}
.yourJudge div input,.yourJudge div textarea {
    width: 100%;
    border: 1px #9b9b9b solid;
    border-radius: 2px;
}
.yourJudge div textarea {
    height: 100px;
}
.yourJudge * {
    display: block;
    margin-bottom: 10px;
}
#judgeStar {
    width: 120px;
    float: left;
}
#judgeStar img {
    float: left;
    margin: 0;
}
#yourStars div {
    height: 18px;
    line-height: 26px;
    margin-left: 57px;
}
#yourStars .judgeStar {
    width: 120px;
    display: inline-block;
    margin: 0;
}
#yourStars .judgeStar img {
    float: left;
    margin: 5px 0;
}

    /* hotels */
.hotels .headbar{
    margin-bottom: 20px;
    color: #705F57;
}
.hotels .headbar span {
    display: inline-block;
    margin-top: 20px;
}
@media (min-width:768px) and (max-width:1199px) {
    .hotels .headbar span:nth-child(3),
    .hotels .headbar span:nth-child(4) {
        margin-top: 40px;
    }
    .hotels .headbar span:nth-child(3) {
        width: 25% !important;
    }
}
.head-input{
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    line-height: 30px !important;
    height: 32px !important;
}
.head-search{
    background: #705F57;
    border-radius: 6px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.hotels .condition{
    background: #ffffff;
}

.hotels .headbar2{
    line-height: 45px;
    padding: 15px 0;
    color: #4A4A4A;
    margin: 0;
}
.hotels .condition .headbar2 span{
    white-space: nowrap;
    padding-right: 15px;
    padding-left: 0;
    margin-left: 0;
}

.hotels .condition .headbar2 .price-input{
    width: 50px;
    height: 22px;
    text-align: center;
}

.hotels .search-result{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #4A4A4A;
}
.hotels .search-result div {
    line-height: 40px;
}
.condition-label{
    margin: 0 5px 0 15px;
    padding: .4em .4em .4em;
}
.close-btn{
    margin: 3px 0 0 15px;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
}
@media(min-width:768px){
    .condition-label{
        padding: .6em .6em .6em;
    }
}
.hotel-btn{
    color:#705F57;
    background-color: white;
    border-radius: 6px;
}
.hotel-icon{
    top: 2px;
}

.hotels .hotelName {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
}
.hotels .roomList {
    padding: 0 15px;
}
.hotels .roomType {
    padding-bottom: 16px;
    border-bottom: 1px #705F57 dashed;
}
.hotels .roomType:last-child {
    padding: 8px 0;
    border-bottom: 0;
    text-align: right;
}
.hotels .roomType span {
    display: inline-block;
    margin-top: 16px;
}
.hotels .btn-commom {
    background: #4d8580;
}
.hotels .roomList .btn-commom {
    padding: 5px 25px;
}


/* hotel_details*/
.hotel_details .headbar{
    margin-bottom: 20px;
    color: #705F57;
}
.hotel_details .headbar span {
    display: inline-block;
    margin-top: 20px;
}
.hotel_details .laydate-icon {
    width: 140px !important;
}
@media (min-width:768px) and (max-width:991px) {
    .hotel_details .headbar span:nth-child(1),
    .hotel_details .headbar span:nth-child(2) {
        width: 50% !important;
    }
    .hotel_details .headbar span:nth-child(3) {
        width: 25% !important;
    }
    .hotel_details .headbar span:nth-child(4),
    .hotel_details .headbar span:nth-child(5),
    .hotel_details .headbar span:nth-child(6) {
        width: 15% !important;
    }
}

.hotel_details .hotelName {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}

.hotel_details .btn-commom {
    background: #4d8580;
    padding: 5px 25px;
}


.hotel_details .table {
    margin-top: 5px;
    margin-bottom: 10px;
}
.hotel_details .table tr td,.hotel_details .table tr th  {
    border: 0;
}
.hotel_details .table tr th {
    border-bottom: 1px #DBCBBF solid;
}

@media (min-width:768px) and (max-width:991px) {
    .hotel_details .hotelTime div {
        width: 100%;
    }
}
.red {
    font-size: 14px;
    color: red;
}

/*perOrder*/
.orderStep {
    background: #ffffff;
    height: 80px;
    margin: 20px auto;
    padding-top: 20px;
}
.stepInfo{
    position:relative;
    margin: 20px auto 0;
    width:90%;
    min-width: 200px;
}
.stepInfo li{
    float:left;
    width:33%;
    height:0.15em;
    background:#d9d9d9;
}
.stepIco{
    top:-0.7em;
    border-radius:1em;
    padding:0.03em;
    background:#bbb;
    text-align:center;
    line-height:1.5em;
    color:#fff;
    position:absolute;
    width:1.4em;
    height:1.4em;
}
.stepText{
    color: #9b9b9b;
    margin-top:0.2em;
    width:4em;
    text-align:center;
    margin-left: -1.4em;
    white-space: nowrap;
}
.stepIco1{left:0;}
.stepIco2{left:33%;}
.stepIco3{left:66%;}
.stepIco4{left:99%;}

.stepIcoNow1,.stepIcoNow1 li {
    background: #705F57 !important;
}
.stepIcoNow2 {
    color: #705F57;
}
.orderMsg {
    background: #ffffff;
}
.orderMsg .layout {
    width: 90%;
    margin: 20px auto;
}
.orderMsg h4 {
    padding: 20px 0;
    color: #705f57;
}
.perOrder .orderMsg h4:last-child {
    padding-top: 0;
}
h4 .badge {
    background: #705F57;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
     font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    border-radius: 12px;
}
.perOrder .table,.perOrder .table td,.perOrder .table th {
    border: 0 !important;
}
.perOrder .table#orderTicket {
    margin-bottom: 0 !important;
}
.perOrder .table th {
    background: #eeeeee;
    color: #705f57;
}

.perOrder .orderPerson tr td {
    padding: 10px 0 !important;
}
.perOrder .orderPay {
    font-size: 28px;
    text-align: right;
    padding-bottom: 20px;
}
.perOrder .orderPay .red {
    font-size: 36px;
}

.perOrder .btn-commom {
    background: #4d8580;
    margin-left: 30px;
    margin-top: -10px;
    padding: 8px 25px;
}



/* orderList */
.orderList {
    background: #ffffff;
    margin-top: 20px;
    padding: 15px 25px;
}
.orderList h4 i {
    background: #705F57;
    color: #ffffff;
    padding: 5px;
    font-size: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.orderNav {
    border-bottom: 3px solid #c8c1b9;
    margin-right: 3px;
}
.orderNav > li {
    margin-top: 5px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: -3px;
}
.orderNav > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 0;
    border-bottom: 3px solid #c8c1b9;
    border-radius: 4px 4px 0 0;
    background: #ffffff;
}
.orderNav > li > a span {
    color: orange;
}
.orderNav > li > a:hover {
    border: 0;
    border-bottom: 3px solid #705F57;
    color: #705F57;
    background: #ffffff;
    cursor: pointer;
}
.orderNav > li.active > a,
.orderNav > li.active > a:hover,
.orderNav > li.active > a:focus {
    color: #705F57;
    background-color: #fff;
    border: 0;
    border-bottom: 3px solid #705F57;
    cursor: pointer;
}
.orderTable {
    overflow: auto;
}
.table {
    margin-top: 20px;
    font-weight: bold;
}

.table th {
    white-space: nowrap;
}
.table th,.table td {
    text-align: center;
}
.table td {
    border-bottom: 2px #dddddd solid;
}

.pager {
    margin: 0;
    text-align: center;
    list-style: none;
    width: 100px;
    float: right;
}
.pager li {
    display: inline;
}
.pager li > a {
    display: inline-block;
    padding: 0 7px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
}
.pager li > span{
    display: inline-block;
    padding: 5px 12px;
    background-color: #9b9b9b;
    color: #ffffff;
    border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a {
    float: right;
}
.pager .previous > a {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}


/*order_details*/
.orderBtnGroup {
    padding: 20px 0;
    text-align: right;
}
.orderBtnGroup button:nth-child(1) {
    background: #4d8580;
}

/*ticket*/

.tickets .panel {
    margin-top: 20px;
}
.tickets .ticketName {
    margin: 10px 0;
}
.tickets .ticketName div  {
    float: right;
}